{% extends 'home/main.html'%}

{% load static%}


{% block content %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">
   <section id="main">
       <div class="container">
           <article id="main-col">
               <h1 class="page-title">Haqqimizda</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis mollitia doloremque totam accusantium excepturi iste, voluptatibus enim molestiae neque possimus exercitationem amet temporibus iure assumenda dolores. Possimus earum facere natus labore tempora! Maiores dignissimos quidem ipsum molestias labore corrupti, natus quae! Alias repudiandae blanditiis veniam doloremque maxime, deserunt reprehenderit ipsum provident quisquam repellat cupiditate aut harum pariatur inventore rem. Iusto dignissimos consequatur quas doloribus, ut impedit fugiat, esse, deserunt itaque quam quis molestiae nisi quaerat nesciunt blanditiis culpa! Suscipit delectus sapiente iure vitae nobis, illo laboriosam exercitationem illum laborum accusamus, aperiam, ipsa hic tempore. Ea impedit inventore illum sint ratione?</p>
               <p class="dark">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo porro numquam dolore non inventore quod et voluptate dolorum perferendis illum, quasi tempora excepturi ex debitis doloremque distinctio sed. Assumenda sint aspernatur exercitationem sed maiores tempora pariatur nemo fugit et quis recusandae id, aliquid magni sapiente excepturi velit harum fugiat ex. Minima voluptates obcaecati architecto expedita nostrum unde error fuga distinctio atque tenetur ipsum eum incidunt quia recusandae, beatae, a rem possimus consectetur delectus iure laudantium consequuntur omnis dignissimos est? Maxime ducimus vitae voluptates. Voluptas omnis modi repellat rerum minima non sapiente nihil, doloribus fugiat tempora dicta, nemo consequatur, impedit illum!</p>
           </article>
           <aside id="sidebar">
               <div class="dark">
               <h3>Biz neler edirik</h3>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid non quaerat, nobis nihil labore, vitae ad omnis tempora autem ipsa rerum reiciendis corporis, magnam eum sequi! Id hic delectus mollitia qui quo a eligendi, iusto reprehenderit numquam assumenda provident architecto excepturi deleniti blanditiis sunt veritatis officia! Ducimus animi veritatis, nemo nam repellat eaque porro hic reiciendis, error doloribus enim ex praesentium mollitia qui obcaecati. Asperiores quae molestiae, doloribus harum impedit voluptatibus maiores qui reprehenderit perspiciatis veritatis quisquam ipsum saepe repudiandae earum aliquid facilis nemo distinctio sapiente? Debitis cumque, corrupti facere, iste sunt quibusdam, maxime ipsam quod animi velit facilis reprehenderit?</p>
               </div>
           </aside>
       </div>
   </section>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>


    <!--End of About US-->
    
    
   

    

{% endblock%}