{% load static %}
<!--Footer Hissesi-->
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer class="footer mt-5">
    <div class="text-center py-5">
        <h2 class="py-3">PragmaBuild Mağazalar Şəbəkəsi</h2>
        <div class="mx-auto heading-line"></div>
    </div>
    <div class="container">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <p>Hər Hansı Bir Sual yaranarsa qeyd olunan nömrələrə zəng və ya mesaj  saat:08:00-21:00-də yaza bilərsiniz.</p>
                        <p>Bizi Seçdiyiniz Üçün Təşəkkür edirik!!!
                    <div class="justify-content-center">
                        <i class="fab fa-facebook fa-2x"></i>
                        <i class="fab fa-twitter fa-2x"></i>
                        <i class="fab fa-instagram fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="copyright text-center py-3 border-top text-light">
                <p>&copy; Copy Right By PragmaBuild</p>
            </div>
        </div>
    </div>
</footer>
<!--End of Footer-->